.manage-products-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
}

.product-form {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-form input {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.product-form button {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 1000px;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: white;
    width: 200px;
    text-align: center;
}

.product-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ced4da;
    margin-bottom: 10px;
}

.product-item button {
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-item button:hover {

}

.btn-warning {
    background-color: rgb(255, 123, 0);
    color: black;
  }
